<main class="container">
  <div class="header">
 
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary"
                 %>
  </div>

  <h1>Quotes</h1>

<% if @quotes.any? %>
  <ul>
    <% @quotes.each do |quote| %>
      <li>
        <blockquote>
          <%= quote.name %>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>No quotes found.</p>
<% end %>
</main>