<div>
  <h1 class="text-amber-600 font-bold text-4xl text-copper-200">Landing#index</h1>
  <h2 class="text-amber-500 font-bold text-xl text-copper-dark">Subtitle</h2>
  <p>Find me in app/views/landing/index.html.erb</p>

</div>
