<<<<<<< HEAD
<h1>Test Page</h1>
<div>
  <input type="text">
  <button>Greet</button>
</div>
=======
<body>
  Example: Copy To Clipboard
  <div data-controller="clipboard">
    PIN: <input data-clipboard-target="source" type="text" value="1234" readonly>
    <button data-action="clipboard#copy">Copy to Clipboard</button>
  </div>
</body>
>>>>>>> 486e368745edb11bc28bb2e239542f7d77c8ea20
